@font-face {
  font-family: "Nohemi";
  src: url(Nohemi-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Nohemi-Bold";
  src: url(Nohemi-Bold.woff);
  font-weight: 400;
}

:root {
  --white: #fafafa;
  --black: #010101;
  --green: #2a503f;
  --orange: #fe6e00;
}

body {
  padding: 5%;
  font-family: "Nohemi", sans-serif !important;
  font-weight: 400 !important;
  background: white !important;
}

#logo {
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 2%;
}

span {
  color: var(--black) !important;
}

.main-cards {
  margin: 0;
}

.modification-text {
  padding: 45px 10px 25px 10px;
}

#gift-message-container {
  padding: 12px;
  border: 1px solid #cfcfcf;
  margin: 15px;
  justify-content: center;
  align-items: center;
}
#gift-message-container:hover {
  background: #ececec;
}

.col-lg-6 {
  padding: 15px;
}

.col-lg-4 {
  padding: 15px;
}

@media (max-width: 1127px) {
  .calculation-title {
    display: none;
  }
}

.information-bullet {
  margin-left: auto;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: #bfbfbf;
  display: flex;
  justify-content: center;
  color: #5e5e5e;
}

.information-bullet::after {
  content: attr(
    data-tooltip
  ); /* Use 'data-tooltip' attribute for text content */
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transform: translateX(-50%);
  transition: opacity 0.3s, transform 0.3s; /* Add smooth animation */
}

.information-bullet:hover::after {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(-10px); /* Move it slightly up for better alignment */
}

label {
  max-width: 80%;
}

.prepayment-modal {
  height: 75px;
  background: #e2e2e5;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 15px 0;
  padding: 25px;
}

.arrow {
  margin-left: auto;
}

.days {
  border: 1px solid black;
  width: 100px !important;
  margin: 5px;
  padding: 0 !important;
}

.col-lg-3 {
  padding: 15px;
}

.payment {
  border: 1px solid black;
}

.days-fix {
  height: 1.5rem;
}

.days input[type="radio"] {
  display: none;
}

/* Style the label to look like a button */
label.button-like {
  display: inline-block;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

/* Style the label when the radio button is checked */
.days:active {
  background-color: #e74c3c;
}

/* ANDREI */
.accordion-item {
  margin-bottom: 3%;
}

.d-none {
  display: none;
}

.button-like-radio {
  display: inline-table;
  margin: 5px;
  text-align: center;
}

.button-like-radio span {
  display: block;
  padding: 5px;
  border: 2px solid #00bcd4;
  border-radius: 5px;
}

.button-like-radio:hover span {
  background: #00bcd4;
  cursor: pointer;
}

input[type="radio"]:checked + span {
  color: #fff;
  background: #00bcd4;
}
.right {
  float: right;
}
